BOT_TOKEN=
GOOGLE_SA_JSON=
TZ=Asia/Almaty
DDB_TABLE=prod-telegram-bot-team-ddb
AWS_REGION=eu-west-1
TRACKER_URL=
EVENT_SHEET_ID=1X3we-5pUIJmLcabYlYy8SZOwS_g_2Epkhh5eiJdZJ6M
EVENT_SHEET_TAB=
EVENT_SALE_ITEMS=Су-вид,Гриль,Говядина,Фри,Улун,Яблоко
